
.nav-link:hover{
    background-color: rgb(255, 0, 34);
}

.logo {
  height: 100px;
}

article {
  transition: 0.3s;
}

article:hover {
  transform: scale(1.05);
}

footer a {
  color: white;
  transition: 0.3s;
}

footer a:hover {
  color: #0d6efd;
  transition: 0.3s;
}
